<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>10583144426-21ij0puq91f4je8gqots7mj72opibiet.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.10583144426-21ij0puq91f4je8gqots7mj72opibiet</string>
	<key>API_KEY</key>
	<string>AIzaSyA5PXm38YvkZv3_oJWuUIfWFa1is5tllSU</string>
	<key>GCM_SENDER_ID</key>
	<string>10583144426</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.my.Tik-Tok</string>
	<key>PROJECT_ID</key>
	<string>tik-tok-9417f</string>
	<key>STORAGE_BUCKET</key>
	<string>tik-tok-9417f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:10583144426:ios:5055004ba0b2d58bae2493</string>
</dict>
</plist>